<div class="tour-tip">
	<span class="tour-arrow tt-{{ ttPlacement + '-' + ttAlign }}-border"></span>
    <span class="tour-arrow tt-{{ ttPlacement + '-' + ttAlign }}"></span>
	<div class="tour-tip-header">
		<a ng-click="closeTour()" class="tour-close-tip">×</a>
	</div>
	<div class="tour-tip-body">
		<div class="tour-content-wrapper">
	        <p ng-bind-html="ttContent"></p>
	    </div>
	</div>
	<div class="tour-tip-footer">
		<a ng-if="!ttFirst" ng-click="setPrevStep(getPrevStep(this))" ng-bind-html="ttBackLabel" class="small button tour-prev-tip"></a>
		<a ng-if="!ttLast" ng-click="setNextStep(getNextStep(this))" ng-bind-html="ttFinishLabel" class="small button tour-next-tip"></a>
		<a ng-if="ttLast" ng-click="setNextStep(getNextStep(this))" ng-bind-html="ttNextLabel" class="small button tour-last-tip"></a>
	</div>
	    
</div>
