$tt-bg-color: #888;
$tt-text-color: #f5f5f5;
$tt-border-color: #333;

.tour-tip {
  display: none;
  position: fixed;
  background: $tt-bg-color;
  color: $tt-text-color;
  z-index: 101;
  font-family: inherit;
  font-weight: 400;
  max-width: 700px;
  border-radius: 10px;
  border: 1px solid $tt-border-color;
  .tour-tip-header {
    .tour-close-tip {
      position: absolute;
      right: 0 !important;
      top: 0 !important;
      color: white !important;
      text-decoration: none;
      font-size: 30px !important;
      font-weight: 400;
      line-height: 0.5 !important;
      padding: 10px !important;
      cursor: pointer;
      &:hover, &:focus {
        color: #eeeeee !important;
      }
    }
    .tt-title {

    }
  }
  .tour-tip-body {
    .tour-content-wrapper {
      padding: 1.5em 3em 1.5em 1.5em !important;
      white-space: normal;
      .button {
        margin-bottom: 0!important;
      }
      p {
        color: $tt-text-color;
        font-size: 1.4em;
        line-height: 1.5em;
        margin: 0 0 1.125em;
      }
    }
  }
  .tour-tip-footer {
    
  }
  
  button, .button {
    background-color: #428bca;
    cursor: pointer;
    font-family: inherit;
    font-weight: 700;
    line-height: 1;
    position: relative;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    font-size: 1.2em;
    color: #FFF !important;
    border: 1px solid #285e8e !important;
    margin: 0 0 1.25em;
    padding: .5em 1.25em .6em !important;
    border-radius: 6px;
    small {
      padding-top: .625em;
      padding-bottom: .5625em;
      -webkit-appearance: none;
    }
    &:hover {
      background-color: #3276b1;
      border: 1px solid #285e8e;
    }
    &.tour-prev-tip {

    }
    &.tour-next-tip {

    }
  }
  .tour-arrow {
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border: inset 14px;
    // top-left
    &.tt-top-left, &.tt-top-left-border {
      border-style: solid;
      left: 28px;
    }
    &.tt-top-left {
      bottom: -28px;
      border-color: $tt-bg-color transparent transparent !important;
    }
    &.tt-top-left-border {
      bottom: -29px;
      border-color: $tt-border-color transparent transparent !important;
    }

    // top-right
    &.tt-top-right, &.tt-top-right-border {
      border-style: solid;
      right: 28px;
    }
    &.tt-top-right {
      bottom: -28px;
      border-color: $tt-bg-color transparent transparent !important;
    }
    &.tt-top-right-border {
      bottom: -29px;
      border-color: $tt-border-color transparent transparent !important;
    }

    // bottom-left
    &.tt-bottom-left, &.tt-bottom-left-border {
      border-style: solid;
      left: 28px;
    }
    &.tt-bottom-left {
      top: -28px;
      border-color: transparent transparent $tt-bg-color !important;
    }
    &.tt-bottom-left-border {
      top: -29px;
      border-color: transparent transparent $tt-border-color !important;
    }

    // bottom-right
    &.tt-bottom-right, &.tt-bottom-right-border {
      border-style: solid;
      right: 28px;
    }
    &.tt-bottom-right {
      top: -28px;
      border-color: transparent transparent $tt-bg-color !important;
    }
    &.tt-bottom-right-border {
      top: -29px;
      border-color: transparent transparent $tt-border-color !important;
    }

    // right-top
    &.tt-right-top, &.tt-right-top-border {
      border-style: solid;
      top: 28px;
    }
    &.tt-right-top {
      left: -28px;
      border-color: transparent $tt-bg-color transparent transparent !important;
    }
    &.tt-right-top-border {
      left: -29px;
      border-color: transparent $tt-border-color transparent transparent !important;
    }

    // right-bottom
    &.tt-right-bottom, &.tt-right-bottom-border {
      border-style: solid;
      bottom: 28px;
    }
    &.tt-right-bottom {
      left: -28px;
      border-color: transparent $tt-bg-color transparent transparent !important;
    }
    &.tt-right-bottom-border {
      left: -29px;
      border-color: transparent $tt-border-color transparent transparent !important;
    }

    // left-top
    &.tt-left-top, &.tt-left-top-border {
      border-style: solid;
      top: 28px;
    }
    &.tt-left-top {
      right: -28px;
      border-color: transparent transparent transparent $tt-bg-color !important;
    }
    &.tt-left-top-border {
      right: -29px;
      border-color: transparent transparent transparent $tt-border-color !important;
    }

    // left-bottom
    &.tt-left-bottom, &.tt-left-bottom-border {
      border-style: solid;
      bottom: 28px;
    }
    &.tt-left-bottom {
      right: -28px;
      border-color: transparent transparent transparent $tt-bg-color !important;
    }
    &.tt-left-bottom-border {
      right: -29px;
      border-color: transparent transparent transparent $tt-border-color !important;
    }
  }
}


// general style override
[tourtip] { 
  margin: 0 !important;
}


// Welcome modal

.welcome-salute {
  font-size: 30px;
  margin: 0;
}

.welcome-body {
  font-size: 16px;
  line-height: 20px;
}