<div class="tour-tip">
	<span class="tour-arrow tt-{{ ttPlacement + '-' + ttAlign }}-border"></span>
    <span class="tour-arrow tt-{{ ttPlacement + '-' + ttAlign }}"></span>
	<div class="tour-tip-header">
		<div class="tt-title" ng-bind-html="ttTitle"></div>
		<a ng-click="closeTour()" class="tour-close-tip">×</a>
	</div>
	<div class="tour-tip-body">
		<div class="tour-content-wrapper">
	        <p ng-bind-html="ttContent"></p>
	    </div>
	</div>
	<div class="tour-tip-footer">
		<a ng-click="setCurrentStep(getCurrentStep() - 1)" ng-bind-html="ttBackLabel" class="small button tour-prev-tip"></a>
		<a ng-click="setCurrentStep(getCurrentStep() + 1)" ng-bind-html="ttNextLabel" class="small button tour-next-tip"></a>
	</div>
	    
</div>
