$tt-bg-color: #f1f1f1;
$tt-text-color: #666;
$tt-border-color: #888;
$tt-header-color: #f8f8f8;
$tt-body-color: #f8f8f8;
$tt-footer-color: #f2f2f2;
$tt-controls-color: #898989;

.tour-tip {
  display: none;
  position: absolute;
  background: transparent;
  color: #fff;
  z-index: 101;
  font-family: inherit;
  font-weight: 400;
  min-width: 300px;
  max-width: 580px;
  border-radius: 10px;
  box-shadow: 1px 1px 12px rgba(0, 0, 0, .5);
  -webkit-box-shadow: 1px 1px 12px rgba(0, 0, 0, .5);
  .tour-tip-header {
    border-radius: 10px 10px 0 0;
    border: 1px solid $tt-border-color;
    border-bottom: none;
    height: 34px;
    background: $tt-header-color;
    .tour-close-tip {
      position: absolute;
      right: 0 !important;
      top: 0 !important;
      color: #bbbbbb !important;
      text-decoration: none;
      font-size: 30px !important;
      font-weight: 400;
      line-height: 0.5 !important;
      padding: 10px !important;
      cursor: pointer;
      &:hover, &:focus {
        color: $tt-border-color !important;
      }
    }
  }
  .tour-tip-body {
    border-radius: 0;
    border: 1px solid $tt-border-color;
    border-top: none;
    border-bottom: none;
    height: auto;
    background: $tt-body-color;
    padding: 0 2.5em 2.5em 2.5em !important;
    .tour-content-wrapper {
      white-space: normal;
      .button {
        margin-bottom: 0!important;
      }
      p {
        color: $tt-text-color;
        font-size: 1em;
        line-height: 1.5em;
        margin: 0;
      }
    }
  }
  .tour-tip-footer {
    border-radius: 0 0 10px 10px;
    border: 1px solid $tt-border-color;
    border-top: 1px solid #d4d4d4;
    height: 40px;
    padding: 6px 15px;
    background: $tt-footer-color;
  }
  
  .button {
    // background-color: $tt-footer-color;
    cursor: pointer;
    font-family: inherit;
    font-weight: 700;
    line-height: 1.3em;
    position: relative;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    font-size: 1.2em;
    color: #bbbbbb;
    // border: 1px solid #285e8e !important;
    margin: 0;
    padding: .4em !important;
    // border-radius: 6px;
    small {
      padding-top: .625em;
      padding-bottom: .5625em;
      -webkit-appearance: none;
    }
    &:hover {
      color: $tt-border-color;
    }
    &.tour-prev-tip {
      position: relative;
      left: 0;
      &:before {
        content: "\2039";
        display: inline-block;
        padding-right: 10px;
      }
    }
    &.tour-next-tip {
      position: relative;
      right: 0;
      &:after {
        content: "\203a";
        display: inline-block;
        padding-left: 10px;
      }
    }
    &.tour-last-tip {
      float: right;
    }
  }
  .tour-arrow {
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border: inset 14px;
    // top-left
    &.tt-top-left, &.tt-top-left-border {
      border-style: solid;
      left: 22px;
    }
    &.tt-top-left {
      bottom: -27px;
      border-color: $tt-footer-color transparent transparent !important;
    }
    &.tt-top-left-border {
      bottom: -28px;
      border-color: $tt-border-color transparent transparent !important;
    }

    // top-right
    &.tt-top-right, &.tt-top-right-border {
      border-style: solid;
      right: 22px;
    }
    &.tt-top-right {
      bottom: -27px;
      border-color: $tt-footer-color transparent transparent !important;
    }
    &.tt-top-right-border {
      bottom: -28px;
      border-color: $tt-border-color transparent transparent !important;
    }

    // bottom-left
    &.tt-bottom-left, &.tt-bottom-left-border {
      border-style: solid;
      left: 22px;
    }
    &.tt-bottom-left {
      top: -27px;
      border-color: transparent transparent $tt-header-color !important;
    }
    &.tt-bottom-left-border {
      top: -28px;
      border-color: transparent transparent $tt-border-color !important;
    }

    // bottom-right
    &.tt-bottom-right, &.tt-bottom-right-border {
      border-style: solid;
      right: 22px;
    }
    &.tt-bottom-right {
      top: -27px;
      border-color: transparent transparent $tt-header-color !important;
    }
    &.tt-bottom-right-border {
      top: -28px;
      border-color: transparent transparent $tt-border-color !important;
    }

    // right-top
    &.tt-right-top, &.tt-right-top-border {
      border-style: solid;
      top: 22px;
    }
    &.tt-right-top {
      left: -27px;
      border-color: transparent $tt-body-color transparent transparent !important;
    }
    &.tt-right-top-border {
      left: -28px;
      border-color: transparent $tt-border-color transparent transparent !important;
    }

    // right-bottom
    &.tt-right-bottom, &.tt-right-bottom-border {
      border-style: solid;
      bottom: 22px;
    }
    &.tt-right-bottom {
      left: -27px;
      border-color: transparent $tt-footer-color transparent transparent !important;
    }
    &.tt-right-bottom-border {
      left: -28px;
      border-color: transparent $tt-border-color transparent transparent !important;
    }

    // left-top
    &.tt-left-top, &.tt-left-top-border {
      border-style: solid;
      top: 22px;
    }
    &.tt-left-top {
      right: -27px;
      border-color: transparent transparent transparent $tt-body-color !important;
    }
    &.tt-left-top-border {
      right: -28px;
      border-color: transparent transparent transparent $tt-border-color !important;
    }

    // left-bottom
    &.tt-left-bottom, &.tt-left-bottom-border {
      border-style: solid;
      bottom: 22px;
    }
    &.tt-left-bottom {
      right: -27px;
      border-color: transparent transparent transparent $tt-footer-color !important;
    }
    &.tt-left-bottom-border {
      right: -28px;
      border-color: transparent transparent transparent $tt-border-color !important;
    }
  }
}
